.container {
  margin: 100px auto;
  width: 600px;
  padding: 0 20px 20px 20px;
  border: 1px dotted black;
}

th {
  text-align: left;
}

.nav-username-show p {
  color: white;
  margin: 0;
}

.nav-username-show {
  float: right;
  padding-left: 10px;
}

.cardimage {
  border: 1px solid red;
  width: auto;
}

img {
  border: 1px solid gray;
  width: 400px;
  height: auto;
}

