
  <div class='cardimage'>
    <img src="<%= @card.images %>">
  </div>

  <div class='cardshow'>
    <div class='title'>
      <p>Is <strong><%= @card.definition %></strong> hot or not?</p>
    </div>
    <div class='card_options'>
        <form name='card_value' 
        action='/game' method='post'>
          <input type='text' name='answer' placeholder='HOT or NOT?'><br>
          <input type='submit' value='Are you sure???'>
        </form>
    </div>
  </div>

</div>