<div>
  <div class='guess_status'>Correct
  </div>
  <div class='cardimage'>
    <img src='http://images.starpulse.com/pictures/2013/06/13/previews/Henry%20Cavill2-20130613-12.jpg'>
  </div>

  <div class='cardshow'>
    <div class='title'>
      <p>Is <strong><%= @card.definition %></strong> hot or not?</p>
    </div>
    <div class='card_options'>
        <form name='card_value' 
        action='/game' method='post'>
          <input type='text' name='answer' placeholder='HOT or NOT?'><br>
          <input type='submit' value='Are you sure???'>
        </form>
    </div>
  </div>

</div>