<div class="container">
  <form action="/signup" method="post">
    <label>Sign Up!</label><br>
    <input type="text" name="username_input" placeholder="Enter Username"><br>
    <input type="password" name="password_input" placeholder="Password must be 6 characters"><br>
    <input type="submit" value="Create Account">
  </form>
</div>

