<% unless @user.errors.empty? %>
  <%= erb :errors %>
<% end %>

<div class='form_login'>
  <form action="/signup" method="post">
    <label>Create a new Account</label><br>
    <input type="text" name="user_name" placeholder="Enter Username"><br>
    <input type="password" name="password" placeholder="Enter Password"><br>
    <input type="submit" value="Create Account">
  </form>
</div>

