
  <h3>Your score for this round!</h3>
  <p>Percentage you got correct: <%= @percentage %>%</p>
  <br>
  <form action="/" method="get">
    <input type="submit" value="Back to decks">
  </form>

<br>
<p><b>Here's what you need to review:</b></p>
<% @wrong.each do |card| %>
<p><%= card.definition %> -- <%= card.answer %></p><br>
<%end%>

